@import "./antd-modified.css";
body {
    --primary-color: #424D78;
    --primary-color-light: #6576bd;
    --primary-color-hover: #2a356c;
    --secondary-color: #E6E6E6;
    --background-color: white;
    --text-color-primary: black;
    --text-color-secondary: white;
    --footer-height: 85px;
    --secondary-color-dark: #1E1E1E;
    --span-color: rgba(0, 0, 0, 0.45);
    --no-data-color: var(--secondary-color);
    /*--span-color: red;*/
}

body[data-theme='dark'] {
    /*--primary-color: #426378;*/
    --secondary-color: var(--secondary-color-dark);
    --background-color: #222628;
    --text-color-primary: white;
    --text-color-secondary: black;
    --span-color: white;
    --no-data-color: #6e6e6e;
}


body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

.ag-root-wrapper-body.ag-layout-normal.ag-focus-managed {
    height: 100%;
}

label, input {
    color: var(--text-color-primary) !important;
}

.ant-input-affix-wrapper span  {
    color: var(--span-color) !important;
}

.ant-progress-text,
.ant-btn span,
.ant-select-selector span,
.ant-picker-separator span,
.ant-picker-suffix span,
.ant-tree-list-holder span
{
    color: var(--text-color-primary) !important;
}

.ant-btn.ant-btn-primary span {
    color: white !important;
}

.ant-message-notice {

}

.ant-input,
.ant-input-number-input,
.ant-input-number-handler-wrap,
.ant-input-affix-wrapper,
.ant-picker,
.ant-tree-list-holder,
.ant-btn.ant-btn-default,
.ant-btn.ant-btn-dashed,
.ant-select-selector,
.ant-select-dropdown {
    background-color: var(--background-color) !important;
}

.ant-tag:not(.ant-tag-has-color) {
    background-color: var(--background-color) !important;
}

.ant-select-arrow {
    color: var(--span-color) !important;
}

.ant-picker-clear {
    color: var(--span-color) !important;
    background-color: var(--background-color) !important;
}

.ant-select-item-option {
    color: var(--text-color-primary) !important;
}

.ant-select-item-option-selected, .ant-select-item-option-active {
    color: black !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: var(--background-color) 5000s;
    /*background-color: var(--background-color);*/
    -webkit-text-fill-color: black !important;
}
.ant-picker-header > button > span {
    color: black !important;
}

.tag-text:not(.ant-tag-has-color) {
    color: var(--text-color-primary) !important;
    /*color: black !important;*/
}

.ant-progress {
    /*margin-top: 10px;*/
    margin-bottom: 20px;
}


.App {
    position: relative;
    min-height: 100vh;
    /*height: 100vh;*/
}

.header {
    padding: 0;
    background-color: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.header .logo {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.header .ant-switch {
    margin-right: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.header .ant-switch span {
    color: black;
    margin-top: 0.5px;
}

.header .ant-switch-checked span {
    color: white;
}


.header .ant-switch-checked {
    /*color: white !important;*/
    background-color: var(--secondary-color-dark);
}

.main {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: calc(10px + var(--footer-height));
    background-color: var(--background-color);
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    color: var(--text-color-primary);
}


.theme-switch span {
    font-size: 20px;
}

.no-data {
    text-align: center;
    font-size: large;
    color: var(--text-color-primary);
}

.no-data svg {
    width: 256px;
    height: 256px;
    fill: var(--no-data-color);
    display: block;
    margin: auto;
}

.hidden-columns-prefix {
    vertical-align: middle;
    margin-right: 10px;
}

.ag-cell-wrapper {
    line-height: normal !important;
}