.custom-header-label,
.custom-header-sort-index,
.custom-header-sort-arrow {
    display: inline-block;
    float: left;
    margin-left: 3px;
}


.ag-header-cell:not(:hover) .custom-header-button {
    display: none;
}

.custom-header-button {
    display: inline-block;
    float: right;
}