.site-tag-plus {
    background: #fff;
    border-style: none;
}
.edit-tag {
    user-select: none;
}
.tag-input {
    width: 78px !important;
    margin-right: 8px;
    vertical-align: top;
    border: 1px solid #d9d9d9 !important;
}
.TagsInput{
    display: inline-block !important;
    min-height: 36px;
}

.ant-input-affix-wrapper::before {
    content: none !important;
}
.ant-tag {
    margin-top: 2px;
    margin-bottom: 2px;
}
.TagsInput-suffix {
    float: right;
}